*{
        box-sizing: border-box;
    }
    head{
        background-color: grey;
        padding: 10px;
        position: fixed;
        text-transform: uppercase;
    }
           nav{
            background-color: yellow;
            margin:0;
        }
       nav ul{
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            float: left;
        }
       nav ul li{
            display: inline-block;
            background-color: gray;
        }
       nav a{
            display: block;
            padding: 0 10px;
            font-size: 1em;
            line-height: 40px;
            text-decoration: none;
        }
      nav a:hover{
            background-color: aquamarine;
            color: whitesmoke;
        }
    body{
        border-style: solid;
        border-width: 1px;
        padding-left: 10px;
    }

   table{
    width: 100%;
    border: 1px solid black;
    padding: right 100px;
   }
   .footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(158, 158, 120);
   }
   #copy{
    background-color: gray;
   }
   #detail{
    border: 100px;
   }
   h2{
    text-decoration: underline;
   }
@media (min-width: 645px) {
    body{
        background-color: aqua;
    }
    nav ul li{
        display: block;
        width: 125%;
        text-align: center;
    }
}
